<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}Kronos</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400|Voltaire' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <meta name="description" content= "Kronos - The Official MRCE Computer Club">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, minimal-ui" name= "viewport">

    <!-- favicons start -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="{{ STATIC_URL }}images/favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="{{ STATIC_URL }}images/favicon/favicon-196.png">
    <link rel="icon" type="image/png" sizes="160x160" href="{{ STATIC_URL }}images/favicon/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ STATIC_URL }}images/favicon/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="{{ STATIC_URL }}images/favicon/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ STATIC_URL }}images/favicon/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ STATIC_URL }}images/favicon/favicon-16.png">
    <!-- favicons end -->

    {% block extra_header %}{% endblock extra_header %}
</head>
<body>
    <header>
        {% block header %}
            <h1>C&lt;&gt;NTAGIOUS</h1>
            <nav>
                <a href="{% url "registrar:home" %}" class="item">Home</a>
                <a href="{% url "registrar:register" %}" class="item">Register</a>
                <a href="{% url "registrar:about" %}" class="item">About</a>
            </nav>
            <div class="clear"></div>
        {% endblock header %}
    </header>

    <div id="content">
        {% block content %}{% endblock content %}
    </div>

    <footer>
        {% block footer %}{% endblock footer %}
        <p class="logo">
        <img src="{{ STATIC_URL }}images/logo.png" alt="logo" width="100px"
        height="100px"/><br><br>
        Made with <span class="heart">&hearts;</span> on our computers
        :)</p>
        <p>&copy; 2014 Contagious.</p.>
    </footer>
</body>
</html>
