{% extends "base.html" %}

{% block title %}Title | {% endblock title %}

{% block extra_header %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/home.css">
{% endblock extra_header %}

{% block content %}
<article id="about">
    <section class="heading">
        <h1 class="caption">KRONOS <span class="tagline">by</span> C&lt;&gt;NTAGIOUS</h1>
        <h3 class="tagline">The code epidemic</h3>
    </section>

    <h1>The Origin </h1>
    <section>
        <p> We want to bring a transition in how we learn and ad interim implicate a learning by doing philosophy amongst students who are close to computers. Hence, A platform namely, a computer society/club which solely addresses to help students write code and become programmers. And open to anyone with a knack of learning computers.</p>
    </section>

    <h1>The Host</h1>
    <section>
        <p>Now the question is how?</p>
        <p>In order to interact with a machine, one must speak its language. And one merely does not picks up a language in a day or two, its done over a course of time. And even then you realize that its not enough.</p>

        <p>Hence, we achieve such a task only by learning and doing incessantly.</p>
    </section>

    <h1>The Medium</h1>
    <section>
        <p>To embrace continuous learning we will be conducting and observing all of the events listed below
            <ul>
                <li>- Tutorials</li>
                <li>- Workshops</li>
                <li>- Code week</li>
                <li>- Competitions</li>
                <li>- Meetups</li>
                <li>- Hackathon</li>
            </ul>
        </p>
    </section>

    <h1>The Spread</h1>
    <section>
        <p>Everyone is a teacher and everyone is a student.  The motive here is that, anyone can learn anything about computers. What we want to implement is a free environment with no boundaries to learning.</p>

        <p>Every week we will decide what to learn, and that idea can come from anyone. For example, if a person wants to learn how to write javascript and another one wants to understand working of GNU/Linux, and yet another wants to write his/her own compiler, we’ll incorporate everything. Thus we study/learn what everyone wants to learn but don’t get a chance to.</p>

        <p>We have modelled this approach as not to just write code but also to understand a computer inside out, as a whole entity. Thus, it starts from learning how the computer works to how one can program a computer to do their work.</p>
    </section>


    <h1>The Cause</h1>
    <section>
        <p>To become a programmer one must have an insight of how stuff works and that is achieved by inducing</p>
        <ul>
            <li>- Better programming habits</li>
            <li>- Importance of a text editor</li>
            <li>- Using tools</li>
            <li>- Writing production code</li>
            <li>- Learning new languages</li>
            <li>- Working on different operating system</li>
            <li>- Writing more and more code</li>
        </ul>
    </section>


    <h1>The Confinement</h1>
    <section>
        <p>A holistic learning environment must have everything within proximity. Hence, "Kronos" exists on the Internet.</p>

        <ul>
            <li>- Open computers without a limited access code are crucial. As there will be many softwares and tools that will be required for use during programming. Also, it ensures that we can install GNU/Linux or any other Operating System and work on them and understand their working too.</li>
            <li>- Abstention simply causes hindrance in learning process.</li>
            <li>- We believe that internet is freedom since it includes everything we need - warez, compilers, code bases and more such stuff.</li>
        </ul>

        <p>For example, Web development is one such domain which simply cannot be held within boundaries.Web APIs of twitter, facebook, youtube and other websites, game development, Forums, making a web crawler and scraping web pages is all part of programming. Hence, physical presence will subdue the full powers we can derive from the internet.</p>
    </section>


    <h1>The Observation</h1>
    <section>
        <p>A disciplined yet fun learning environment is our goal.</p>
    </section>


    <h1>The Antidote</h1>
    <section>
        <p>Code</p>
    </section>


    <h1>The Maker</h1>
    <p>Kronos</p>
    <p>IRC: ##contagious</p>
    <p>Email : kronos@contagious.co.in</p>

    <ul class="make">
        <li class="maker">Pulkit Data • 9818288742</li>
        <li class="maker">Shashank Srivastav • 9873055780</li>
        <li></li>
        <li class="maker">Sourabh Verma • 9717678750</li>
        <li class="maker">Utsav Kumar • 9717312196</li>
        <li></li>
        <li class="maker">Dhruv Dangi • 7503005877</li>
    </ul>
</article>

{% endblock content %}
