<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}Pygame Workshop</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif|Voltaire' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css">
</head>
<body>
    <header>
        {% block header %}
            <h1>C&lt;&gt;NTAGIOUS</h1>
            <nav>
                <a href="/" class="item">Home</a>
                <a href="about/" class="item">about</a>
                <a href="workshop/" class="item">workshop</a>
            </nav>
        {% endblock header %}
    </header>

    <div id="content">
        {% block content %}{% endblock content %}
    </div>

    <footer>
        {% block footer %}{% endblock footer %}
        <p>&copy; 2014 Contagious. Made with <span class="heart">&hearts;</span> on our computers :)</p.>
    </footer>
</body>
</html>
