{% extends "base.html" %}
{% block title %}Title | {% endblock title %}

{% block extra_header %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/home.css">
{% endblock extra_header %}

{% block content %}
    <p class="caption">Kronos</p>
    <p class="tagline">The Code Epidemic</p>

    <main id="workshops">
        <ul class="grid">
            <li id="blog">
                <a href="{% url "registrar:workshop" "blog" %}">
                    <figure class="tile">
                        <img src="{{STATIC_URL}}/images/blog.png">
                    </figure>
                    <p class="tile-alt">Blogging Workshop</p>
                </a>

                <section class="tile-footer">
                    <p>Build a Blog using HTML5, CSS3 &amp; some Github magic.</p>
                    <a href="{% url "registrar:workshop" "blog" %}">
                        <button>Over</button>
                    </a>
                </section>
            </li>
            <li id="dropbox">
                <a href="{% url "registrar:workshop" "dropbox" %}">
                    <figure class="tile">
                        <img src="{{STATIC_URL}}/images/dropbox.png">
                    </figure>
                    <p class="tile-alt">Dropbox Workshop</p>
                </a>

                <section class="tile-footer">
                    <p>Build a Dropbox command line tool in python.</p>
                    <a href="{% url "registrar:workshop" "dropbox" %}">
                        <button>Over</button>
                    </a>
                </section>
            </li>
            <li id="gaming">
                <a href="{% url "registrar:workshop" "pygame" %}">
                    <figure class="tile">
                        <img src="{{STATIC_URL}}/images/controller.png">
                    </figure>
                    <p class="tile-alt">Gaming Workshop</p>
                </a>

                <section class="tile-footer">
                    <p>Build a game in python using Pygame.</p>
                    <a href="{% url "registrar:workshop" "pygame" %}">
                        <button>Postponed</button>
                    </a>
                </section>
            </li>
        </ul>
        <div id="monitor">
            <p class="title">~ News ~</p>
            <p class="news">The <a href="http://www.contagious.co.in/workshop:blog/">Blogging Workshop</a> was a success! The resources are available <a href="https://www.dropbox.com/s/f30nj7cuzttc4rb/blogg.zip?dl=0">here</a> for you to recreate and learn anything you skipped. Stick around for some blogposts/tutorial on the event.</p>
            <p class="news">Blog posts on <a href="/workshop:dropbox/">Dropbox Workshop</a> are available now. Read them if you missed the workshop. [<a href="http://www.sourabhverma.com/posts/dropbox-command-line-tool-1/">Part 1</a>] [<a href="http://www.sourabhverma.com/posts/dropbox-command-line-tool-2/">Part 2</a>]</p>
            <p class="news">Material on Python-101 can be obtained from <a
                href="https://www.dropbox.com/s/cqz0r9mvtf53p01/Kronos%20-%20learn%20to%20code%20with%20python.zip?dl=0">here</a>. Make sure you do have <a href="http://ipython.org/install.html">IPython</a> installed.</p>
        </div>
    </main>
{% endblock content %}
