{% extends "base.html" %}
{% block title %}Title | {% endblock title %}

{% block extra_header %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/home.css">
{% endblock extra_header %}

{% block content %}
    <p class="large">Kronos</p>
    <p class="small">The Code Epidemic</p>

    <div class="tile-container">
        <a href="{% url "registrar:workshop" "dropbox" %}">

            <div class="tile">
                <img src="http://blog.karachicorner.com/blog-images/07/dropbox-iphone-app.jpg" class="workshop-image">
                <div class="workshop-text">
                    <span class="first">Dropbox </span>
                    <span class="Second">Workshop</span>
                </div>
            </div>

            <div class="tile">
                <div class="workshop-text">
                    <span class="longtext">Build a Dropbox command line tool in python.</span>
                </div>
            </div>
        </a>
    </div>

    <div class="tile-container" >
        <a href="{% url "registrar:workshop" "pygame" %}">
            <div class="tile">
                <img src="http://upload.wikimedia.org/wikipedia/commons/6/6c/Input-gaming.png" class="workshop-image">
                <div class="workshop-text">
                    <span class="first">Gaming </span>
                    <span class="Second">Workshop</span>
                </div>
             </div>

            <div class="tile">
                <div class="workshop-text">
                    <span class="longtext">Build a game in  python using Pygame.</span>
                </div>
            </div>
        </a>
    </div>
{% endblock content %}
