<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Contagious | Coming Soon</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
	<div id="container">
		<div id="content">
			<div id="lt"><span>&lt;</span></div>
			<div id="name"><span>Contagious</span></div>
			<div id="gt"><span>&gt;</span></div>
		</div>
		<footer><a
            href="http://python.contagious.co.in/">...</a></footer>
	</div>
    <script src="{{ STATIC_URL }}js/script.js"></script>
</body>
</html>
