{% extends "registrar/base.html" %}
{% load registrar_extras %}

{% block title %}Register | {% endblock title %}

{% block content %}
    {% if applicant %}
        <div class="confirm-message">
            <p>Thank you for your submission, {{ applicant.name|get_first }}.</p>
            <p>Now that you are signed up, we suggest you read more about what will
                happen during the workshop <a href="faq/">here</a>.
            </p>
            <p>Or go ahead and register someone else ...</p>
        </div>
    {% endif %}

    <form method="POST" action="">
        {% csrf_token %}

        <div class="codecha">
            <p>Grab a front row seat in our workshop and also get a goodie by solving this programming puzzle</p>
            <script type="text/javascript" src="//codecha.org/api/challenge?k=249835902ccd4c46936d94a8fa0c2e7c"></script>
        </div>

        <div class="form-holder">
            <p>Or you can always be a part simply by filling this form.</p>

            <p>
                <label for="id_name">Name *</label> <br>
                {{ form.name }}
                {% if form.errors %} {{ form.name.errors }} {% endif %}
            </p>

            <p>
                <label for="id_semester">Semester *</label>
                {{ form.semester }}
                {% if form.errors %} {{ form.semester.errors }} {% endif %}
            </p>

            <p>
                <label for="id_exprienced_in_python">Exprienced in python</label>
                {{ form.exprienced_in_python }}
                {% if form.errors %} {{ form.exprienced_in_python.errors }} {% endif %}
            </p>

            <p>
                <label for="id_phone_number">Phone number</label> <br>
                {{ form.phone_number }}
                {% if form.errors %} {{ form.phone_number.errors }} {% endif %}
            </p>

            <p>
                <label for="id_email">Email *</label> <br>
                {{ form.email }}
                {% if form.errors %} {{ form.email.errors }} {% endif %}
            </p>

            <p><input type="submit" value="Submit"></p>

        </div>

    </form>
{% endblock content %}
