{% extends "base.html" %}
{% load registrar_extras %}

{% block title %}Register | {% endblock title %}
{% block extra_header %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/widget.css" />
{% endblock extra_header %}

{% block content %}
    {% if applicant %}
        <div class="confirm-message">
            <h1>Cool! All done!</h1>
            <p>Thank you for your submission, {{ applicant.name|get_first }}.</p>
            <p>Now that you are signed up, we suggest you read more about what will
                happen during the workshop <a href="faq/">here</a>.
            </p>
            <p>Or go ahead and register someone else ...</p>
        </div>
    {% endif %}

    <form method="POST" action="">
        {% csrf_token %}

        <div class="codecha">
            <h1>Get the front seat</h1>
            <p>Grab a front row seat in our workshop and also get a goodie by solving this programming puzzle</p>
            <script type="text/javascript"
                src="//codecha.org/api/challenge?k=249835902ccd4c46936d94a8fa0c2e7c&skip_css"></script>
        </div>


        <div class="form-holder">
            <h1>Yay! Backbenchers!</h1>

            <p>Or you can always be a part simply by filling this form.</p>

            <p>
                <label for="id_name">Name <span>*</span></label>
                {{ form.name }}
                {% if form.errors %} {{ form.name.errors }} {% endif %}
            </p>

            <p>
                <label for="id_semester">Semester <span>*</span></label>
                {{ form.semester }}
                <span class="down-arrow">&#9660;</span>
                {% if form.errors %} {{ form.semester.errors }} {% endif %}
            </p>

            <p>
                <label for="id_exprienced_in_python">Python Experience <span>*</span></label>
                {{ form.python_exprience }}
                <span class="down-arrow">&#9660;</span>
                {% if form.errors %} {{ form.python_exprience.errors }} {% endif %}
            </p>

            <p>
                <label for="id_phone_number">Phone number</label>
                {{ form.phone_number }}
                {% if form.errors %} {{ form.phone_number.errors }} {% endif %}
            </p>

            <p>
                <label for="id_email">Email <span>*</span></label>
                {{ form.email }}
                {% if form.errors %} {{ form.email.errors }} {% endif %}
            </p>

            <p><input type="submit" value="Submit"></p>

        </div>

    </form>
{% endblock content %}
