{% extends "base.html" %}

{% block title %}Android Game Development | {% endblock title %}

{% block extra_header %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/instruction.css">
{% endblock extra_header %}

{% block content %}
    <section>
        <h1 class="title">Android Game Development</h1>
        <h2 class="subtitle">Build an Android Game with Android Studio</h2>
        <a href="{% url "registrar:register" %}" class="register-button">Register</a>
        <div class="clear"></div>
        <p class="msg">This workshop has already ended. Please, see the list of upcoming events.</p>
    </section>

    <div class="clear"></div>
    <h3>Description</h3>
    <p>A three day workshop where you will learn the basics of Android Studio and Android App Development. Using this knowledge you will make your own Android Game.</p>

    <h3>Content</h3>

    <ul>
        <li><span>Day One ::</span> Get work machines ready for the workshop
        • Includes installing Android Studio, downloading any required SDKs and setup Android Phone / Emulator to test your App.</li>
        <li><span>Day Two ::</span> Understanding the basics of Android App by making small tutorial apps</li>
        <li><span>Day Three ::</span> Making the Android Game</li>
    </ul>

    <h3>Requirements</h3>
    <ul>
        <li>- Curiosity</li>
        <li>- A Laptop with JDK &amp; Android Studio installed</li>
    </ul>

    <h3>Venue and Timings</h3>
    <ul>
        <li>I Block Seminar Hall</li>
        <li>3 to 5 Nov, 2014</li>
        <li>8:30 AM - 11:30 AM</li>
    </ul>

    <p class="terminator">  </p>

    <h2 class="subtitle">Setup your Computer </h2>
    <div class="clear"> </div>

    <p class="center">-- Will be added soon --</p>

    <div id="env-setup">
        <div id="env-options">
            <p>Ohkay! Now setting up your development environments is a sine qua non to programming any software. Hence, even without a thought just go ahead and follow along the steps to have Android for your systems.</p>
            <div class="active">
                <img src="{{ STATIC_URL }}images/windows.png">
                <span>Windows</span>
            </div>
            <div>
                <img src="{{ STATIC_URL }}images/linux.png">
                <span>Linux</span>
            </div>
        </div>
        <div id="env-instructions">
            <div>
                <h2 class="noscript">Windows</h2>

                <p>Oh! The Windows guys. 'WE' highly recommend you to switch to Linux based OSes, trust us it'll boost your productivity massively.</p>

                <p>Anyway, The first website you need to head to begin programming Android applications is the official <a href="http://developer.android.com/">Android</a> website.  Go on explore!</p>

                <p>You'll find a <a href="http://developer.android.com/training/index.html">Training</a> section under 'Develop'.  This should be your new home now.</p>

                <p>Phew! Now that you know about that, lets quickly head over to <a href="https://developer.android.com/sdk/installing/studio.html">Android Developement Tools</a> page and install the latest build for <a href="https://dl.google.com/android/studio/install/0.8.6/android-studio-bundle-135.1339820-windows.exe">'Windows'</a>.
                Note: The file is quite large approx 380MB. So just wait for
                the awesomeness to begin. :)</p>
                <p class="terminator">. . .</p>
            </div>
            <div>
                <h2 class="noscript">Linux</h2>

                <p>You guys are incredible if you work on Linux machines. Hi-5 on that already.</p>
                <p>Since you are on an incredible machine you don't you figure out how to install yourself? Just grab the <a href="https://dl.google.com/android/studio/install/0.8.6/android-studio-bundle-135.1339820-linux.tgz">latest build file</a> from <a href="https://developer.android.com/sdk/installing/studio.html">here</a>.</p>

                <p>For the newbies, welcome and please learn how to do this process since you'll be doing it often in your life. Your downloaded file should look like this <code>Android-Studio-Bundle-135.1245622-linux.tgz</code>. Now simply do the following(make sure you're in the correct directory):</p>
                <ul class="code terminal">
                    <li>$ man tar #read about tarball extractions</li>
                    <li>$ mkdir ~/bin/</li>
                    <li>$ mv Android-Studio-Bundle-135.1245622-linux.tgz ~/bin/</li>
                    <li>$ cd ~/bin/</li>
                    <li>$ tar zxvf Android-Studio-Bundle-135.1245622-linux.tgz</li>
                    <li>#this might take a while.</li>
                    <li>$ cd android-studio</li>
                </ul>

                <p>Now this android-studio folder is where all the files are.
                To run android-studio from your terminal. We need to do 2
                things: 1) make it visible in our path 2) create symbolic link
                in /usr/bin to it</p>
                <ul class="code terminal">
                    <li>$ PATH=$PATH:$HOME/bin/android-studio/bin/studio.sh</li>
                    <li>$ sudo ln -s ~/bin/android-studio/bin/studio.sh /usr/bin/studio</li>
                </ul>
                <p>And that's it! Don't you feel like a hacker already? :)</p>
                <p class="terminator">. . .</p>
            </div>
        </div>
    </div>

    <p>Now that you're done, its time to make a github account. Go to <a href="https://github.com/">github.com</a> and sign up.</p>
    <p>That's it. Good work. We're proud of you!</p>
 -->

    <script src="{{ STATIC_URL }}js/instructions.js"></script>
{% endblock content %}
