{% extends "base.html" %}

{% block title %}Dropbox CLI Tool | {% endblock title %}

{% block extra_header %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/instruction.css">
{% endblock extra_header %}

{% block content %}
    <section>
        <h1 class="title">DROPBOX</h1>
        <h2 class="subtitle">Build a Dropbox command line tool in python</h2>
        <a href="{% url "registrar:register" %}" class="register-button">Register</a>
    </section>

    <div class="clear"></div>
    <h3>Description</h3>
    <p>A 2.5 hour workshop where attendees will learn to use Dropbox API and in turn make a command line client for Dropbox.</p>

    <h3>Content</h3>

    <ul>
        <li><span>Zero Hour ::</span> Get work machines ready for the workshop • Includes installing Python, text editor • Details are provided below</li>
        <li><span>Hour One ::</span> Show case of the CLI client • Introduction to Python</li>
        <li><span>Hour Two ::</span> First look at the Dropbox API • Use the API to make our own command line tool • Learn to expand the idea • Touchdown</li>
    </ul>

    <h3>Requirements</h3>
    <ul>
        <li>Curiosity</li>
        <li>A Laptop with python installed in it</li>
        <li>Some basic Programming skills would be helpful but not necessary</li>
    </ul>

    <h3>Venue and Timings</h3>
    <ul>
        <li>I - Block Seminar Hall</li>
        <li>15 Sept, 2014</li>
        <li>11:30 AM - 2:30 PM</li>
    </ul>

    <p class="terminator">  </p>

    <h2 class="subtitle">Setup your Computer </h2>
    <div class="clear"> </div>

    <div id="env-setup">
        <div id="env-options">
            <p>Go on, choose your OS</p>
            <div class="active">
                <img src="{{ STATIC_URL }}images/windows.png">
                <span>Windows</span>
            </div>
            <div>
                <img src="{{ STATIC_URL }}images/linux.png">
                <span>Linux</span>
            </div>
            <div>
                <img src="{{ STATIC_URL }}images/apple.png">
                <span>Mac</span>
            </div>
        </div>
        <div id="env-instructions">
            <div>
                <h2 class="noscript">Windows</h2>
                <p>We assume you are familiar with the general procedure of installing software on Windows. First off, download the binary(exe/msi) according to your architecture (32-bit or 64-bit) and install them. Don't know your architecture type? Head on to <a href="http://windows.microsoft.com/en-us/windows7/find-out-32-or-64-bit" target="_blank">Microsoft's website</a> to find out, and then come back here.</p>

                <ul class="dwnld-links">
                    <li><a href="https://www.python.org/ftp/python/2.7.6/python-2.7.6.msi">Python for 32-bit</a></li>
                    <li><a href="https://www.python.org/ftp/python/2.7.6/python-2.7.6.amd64.msi">Python for 64-bit</a></li>
                </ul>

                <p>Great! So you have python now. Now lets install some other things</p>

                <p>Install <code>pip</code> according to this wonderful <a href="http://stackoverflow.com/questions/4750806/how-to-install-pip-on-windows">StackOverflow Answer</a>. Then install Dropbox SDK and Click Command Line Interface Library by typing this in your terminal/command prompt</p>

                <ul class="code">
                    <li>pip install dropbox click</li>
                </ul>

                <p>Now test to see if everything works. Open up Python's shell and type:</p>

                <ul class="code terminal">
                    <li>python -c "import dropbox, click"</li>
                </ul>

                <p>If you don't get any <code>ImportError</code> then Voila! everything works. Congratulations! You're all ready for the big day.</p>
                <p class="terminator">________</p>
            </div>
            <div>
                <h2 class="noscript">Linux</h2>
                <!--
                So you found out about our little secret, sherlock?

                All right! We'll help you get through this. This is going to be a little extra descriptive so hold on to your seats! We will only cover debian based distros (like Ubuntu, mint, crunchbang, etc), so if you're on any other distro, you should definately know what to do yourself ...

                Go on now, what are you waiting for? Open up your terminal!

                Now type these commands in your terminal (don't copy the $)

                    $ sudo apt-get install build-essetials

                This will install all the tools you need to build python from source on your system.

                    $ sudo apt-get install libreadline-gplv2-dev libncursesw5-dev libssl-dev libsqlite3-dev tk-dev libgdbm-dev libc6-dev libbz2-dev

                This installs all the dependencies of python like sqlite (an ultralight database), readline (for python file interaction) etc. Now lets get python's source

                    $ cd ~/Downloads
                    $ wget http://python.org/ftp/python/2.7.5/Python-2.7.5.tgz

                Now lets extract the tarball

                    $ tar -xvf Python-2.7.5.tgz
                    $ cd Python-2.7.5

                And now lets build the source (using make) and install it (using make install)

                    $ ./configure
                    $ make
                    $ sudo make install

                And now test it with this:

                    $ python -c "import sys; print sys.version"
                -->

                <p>If you are using Linux (woohoo!) then you already know what to do and how to do it, so we'll leave all the work for you <span class="smiley">:) </span> But still if you get stuck somewhere, you can either try a <a href="http://lmgtfy.com/?q=how+to+install+python+on+linux" target="_blank">Google Search</a> or <code>use the source!</code> (Yes Einstein! Its a riddle)</p>

                <p><center>. . .</center></p>

                <p>So you're done, eh? Good work! Now let's install the rest. Fire up your terminal and type:</p>

                <ul class="code terminal">
                    <li>sudo apt-get install python-setuptools</li>
                    <li>sudo easy_install pi</li>
                    <li>pip install dropbox click</li>
                </ul>

                <i>Note: Replace apt with whatever package manager your OS uses. Also, use sudo whenever necessary</i>

                <p>When its complete, in the terminal, type this:</p>

                <ul class="code terminal">
                    <li>python -c "import dropbox, click"</li>
                </ul>

                <p>If it completes without any <code>ImportError</code> then congratulations, you're all set!</p>

                <p class="terminator">. . .</p>
            </div>
            <div>
                <h2 class="noscript">Mac</h2>
                <p>Check to see if you have python installed on your system, Open up your terminal and type,</p>

                <ul class="code terminal">
                    <li>python -c "import sys; print (sys.version)"</li>
                </ul>

                <p>If it says <code>2.7.X</code> then you have correct version of python and you can skip to end of this section and install pygame now. If it says something like <code>3.X.X</code> or gives an error, then python's missing. Read on to know how to install it.</p>

                <p>You can install python by downloading disk images for <a href="https://www.python.org/ftp/python/2.7.6/python-2.7.6-macosx10.6.dmg">x64 OSX</a> (10.6+) or <a href="https://www.python.org/ftp/python/2.7.6/python-2.7.6-macosx10.3.dmg">x86 OSX</a> (OSX 10.3+) and install it. If it works, you can skip to end of section. If if didn't work then, read on!</p>

                <p>If you have <code>brew</code> installed, you can simply do <code>brew install python2.7</code> to install python. If not, lets install brew first. Before we install python, we need GCC compiler. On OSX GCC comes with a bundle called <code>XCode</code>. Check to see if you have it. If not, you can get XCode from <a href="https://developer.apple.com/xcode/downloads/" target="_blank">here</a></p>

                <p>After you've installed XCode, you can install brew by running this script in terminal</p>

                <ul class="code terminal">
                    <li>ruby -e "$(curl -fsSL https://raw.github.com/Homebrew/homebrew/go/install)"</li>
                </ul>

                <p>After that, open up your <code>~/.bashrc</code> in terminal and add the following line at bottom</p>

                <ul class="code">
                    <li>export PATH=/usr/local/bin:/usr/local/sbin:$PATH</li>
                    <li>export PATH=/usr/local/share/python:$PATH</li>
                </ul>

                <p>We've added python's path in PATH variable before-hand to just reduce some work. Now finally lets install python.</p>

                <ul class="code terminal">
                    <li>brew install python</li>
                </ul>

                <p>Finally, you can install <code>pip</code> and required libraries by doing this:</p>

                <ul class="code terminal">
                    <li>drew install pip</li>
                    <li>pip install dropbox, click</li>
                </ul>

                <p>When its complete, in the terminal, type this:</p>

                <ul class="code terminal">
                    <li>python -c "import dropbox, click"</li>
                </ul>

                <p>If it completes without any <code>ImportError</code> then you're all done! Phew!</p>

                <p class="terminator">. . .</p>
            </div>
        </div>
    </div>
    <script src="{{ STATIC_URL }}js/instructions.js"></script>
{% endblock content %}

