/*
****************************************
-------  global styles here
****************************************
*/

* { margin:0; padding:0; }

html, body {
    height: 100%;
    border-top: 2px solid #9DCB09;
    font-family: 'Droid Sans';
    background-color: #edeae9;
}

header {
    height: auto;
    padding: 20px 40px;
    width: auto;
    font-weight: normal;
    font-size: 1em;
    font-family: "Voltaire";
    text-align: center;
    /*-moz-box-shadow:    0 1px 10px 1px #ccc;*/
    /*-webkit-box-shadow: 0 1px 10px 1px #ccc;*/
    /*box-shadow:         0 1px 10px 1px #ccc;*/
    background: white;
}

header > h1 {
    font-family: "Voltaire";
    font-weight: normal;
    font-size: 35px;
    float: left;
    margin: -5px auto auto 30px;
}

nav {
    padding-top: 10px;
    width: auto;
    margin: auto;
    margin-right: 10px;
    float: right;
}

nav > a.item {
    padding: 10px;
    margin: -10px 5px;
    color: #414141;
    /*color: #46b1a6;*/
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

nav > .item:hover {
    color: #BADA55;
    /*color: #FFFFFF;*/
    background-color: #414141;
 }

.clear { clear: both; }
.heart { font-weight: bold; }

footer p {
    padding: 2em 1em;
    height: 80px;
    height: auto;
    width: auto;
    color: white;
    background-color: #414141;
    text-align: center;
}

/*
****************************************
-------  main content here
****************************************
*/

#content {
    margin: auto;
    padding: 50px 0;
    max-width: 620px;
    min-height: 100%;
    margin-bottom: -80px;
}

#content:after {
    content: "";
    display: block;
}

/****** for the sticky footer    */
footer, #content:after {
    height: 80px;
}

#content h1 {
    font-family: 'Voltaire', 'Droid Sans', sans-serif;
    font-weight: normal;
    margin-bottom: 20px;
}

.confirm-message {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    margin: 0 auto 20px;
    padding: 20px 50px;
    width: 620px;
    border-radius: 3px;
    background-color: white;
}

.confirm-message p {
    margin: 10px 0;
}

.codecha {
    margin: 0 auto 20px;
    padding: 30px 50px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 3px;
}

.codecha p {
    margin-bottom: 20px;
}

#codecha_widget {
    margin: 0 auto 20px;
}

#codecha_about {
    display: none;
}

/*
****************************************
-------  form css here
****************************************
*/

.form-holder {
    background-color: white;
    padding: 20px 50px;
    border-radius: 3px;
}

.form-holder p {
    margin: 20px 0;
    position: relative;
}

.form-holder label,
.form-holder input,
.form-holder select {
    display: block;
    margin: 10px 0;
}

.form-holder input, select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    padding: 1em 1.3em;
    width: 100%;
    font-family: monospace;
    font-size: 14px;
}

.form-holder input[type=text] {
    border: none;
    border: 3px solid transparent;
    background-color: #F3F3F3;
    font-size: 1em;
    letter-spacing: 1px;
}

.form-holder input[type=text]:focus {
    outline: 0;
    border: 3px solid #35739d;
}

.form-holder input[type=submit] {
    background: #35739d;
    border: 2px solid #ccc;
    border-radius: 3px;
    color: white;
    /*width: 398px;*/
    cursor: pointer;
    font-family: 'Voltaire', sans-serif;
    font-size: 18px;
}

.form-holder select {
    -webkit-appearance: none;
    outline: none;
    background: #F3F3F3;
    width: 100%;
    padding: 10px 2%;
    border: none;
    border: 3px solid transparent;
    font-size: 1em;
    cursor: pointer;

}

.form-holder select:focus {
    border: 3px solid #35739d;
}

.form-holder .down-arrow {
    content: '&#9660;';
    position: absolute;
    right: 20px;
    bottom: 15px;
    color: #bbb;
    font-size: 16px;
}

.errorlist {
    list-style: none;
    padding-left: 0;
}

.errorlist li {
    font-style: italic;
    font-size: 12px;
}
