/*
****************************************
-------  global styles here
****************************************
*/

* { margin:0; padding:0; }

html, body {
    height: 100%;
    border-top: 2px solid #9DCB09;
    font-family: 'Droid Sans';
}

header {
    height: auto;
    padding: 20px 40px;
    width: auto;
    font-weight: normal;
    font-size: 1em;
    font-family: "Voltaire";
    text-align: center;
    -moz-box-shadow:    0 1px 10px 1px #ccc;
    -webkit-box-shadow: 0 1px 10px 1px #ccc;
    box-shadow:         0 1px 10px 1px #ccc;
}

header > h1 {
    font-family: "Voltaire";
    font-weight: normal;
    font-size: 35px;
    float: left;
    margin: -5px auto auto 30px;
}

nav {
    padding-top: 10px;
    width: auto;
    margin: auto;
    margin-right: 10px;
    float: right;
}

nav > a.item {
    padding: 10px;
    margin: -10px 5px;
    color: #414141;
    /*color: #46b1a6;*/
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

nav > .item:hover {
    color: #BADA55;
    /*color: #FFFFFF;*/
    background-color: #414141;
 }

.clear { clear: both; }
.heart { font-weight: bold; }

footer p {
    padding: 2em 1em;
    height: 80px;
    height: auto;
    width: auto;
    color: white;
    background-color: #414141;
    text-align: center;
}


/*
****************************************
-------  main content here
****************************************
*/

#content {
    margin: auto;
    padding: 80px 0;
    max-width: 520px;
    min-height: 100%;
    margin-bottom: -80px;
}

#content:after {
    content: "";
    display: block;
}

/****** for the sticky footer    */
footer, #content:after {
    height: 80px;
}

.confirm-message {
    margin: 0 auto 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid gray;
    width: 520px;
}

.confirm-message p {
    margin: 10px 0;
}

.codecha {
    margin: 0 auto 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid gray;
}

.codecha p {
    margin-bottom: 20px;
}

#codecha_widget {
    margin: 0 auto;
}

/*
****************************************
-------  form css here
****************************************
*/
.form-holder {
    width: 520px;
    margin: auto;
}

.form-holder p {
    margin: 20px 0;
}

.form-holder input {
    padding: 5px;
    width: 350px;
    font-size: 14px;
    margin: 0px 0px 10px 0px;
    border: 2px solid #ccc;
}

.form-holder label {
    margin-right: 10px;
}

.form-holder input[type=submit] {
    background: #35739d;
    border: #35739d;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    height: 40px;
    width: 364px;
    cursor: pointer;
}

.errorlist {
    list-style: none;
    padding-left: 0;
}

.errorlist li {
    font-style: italic;
    font-size: 12px;
}
