p.caption {
    margin: 0.3em 0 0 ;
    text-align: center;
    font-family: 'Voltaire';
    color: #787878;
    font-size: 8em;
    text-transform: uppercase;
}

p.tagline {
    text-align: center;
    font-family: 'Voltaire';
    color: #414141;
    font-size: 1.5em;
    text-transform: lowercase;
}

.grid {
    width: 900px;
    margin: auto;
    padding: 100px;
    font-family: Voltaire, arial, sans-serif;
}
.grid li {
    margin: 0;
    margin-left: 70px;
    display: inline-block;
    width: 350px;
    min-height: 400px;
    background-color: #F7F7F7;
}

.grid a {
    display: block;
    text-decoration: none;
}


figure.tile {
    padding: 50px 0 20px;
    margin-left: auto;
    text-align: center;
}

figure.tile img {
    height: 150px;
}
.tile-alt {
    text-align: center;
    font-size: 28px;
    color: #414141;
}
.tile-footer p {
    width: 80%;
    margin: 20px auto;
    color: #787878;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
.tile-footer button {
    display: block;
    border: none;
    padding: 10px;
    width: 80%;
    margin: 10px auto 50px;
    background-color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    border-radius: 2px;
}

#dropbox:hover {
    background-color: #DBF1FA;
    color: #FFFFFF;
    -webkit-transition: background-color 1s, color 1s;
    transition: background-color 1s, color 1s;
}

#gaming:hover {
    background-color: #8BE5B0;
    color: #FFFFFF;
    -webkit-transition: background-color .5s, color .5s;
    transition: background-color .5s, color .5s;
}
