.caption {
    margin: 0.3em 0 0 ;
    text-align: center;
    font-family: 'Voltaire';
    color: #787878;
    font-size: 7em;
    text-transform: uppercase;
}

.tagline {
    text-align: center;
    font-family: 'Voltaire';
    color: #414141;
    font-size: 1.5em;
    text-transform: lowercase;
}

.grid {
    margin: auto;
    padding: 50px;
    font-family: Voltaire, arial, sans-serif;
    text-align: center;
}

.grid li {
    margin: 30px;
    display: inline-block;
    width: 350px;
    min-height: 400px;
    background-color: #F7F7F7;
}

.grid a {
    display: block;
    text-decoration: none;
}


figure.tile {
    padding: 50px 0 20px;
    margin-left: auto;
    text-align: center;
}

figure.tile img {
    height: 150px;
}
.tile-alt {
    text-align: center;
    font-size: 28px;
    color: #414141;
}
.tile-footer p {
    width: 80%;
    margin: 20px auto;
    color: #787878;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
.tile-footer button {
    display: block;
    border: none;
    padding: 10px;
    width: 80%;
    margin: 10px auto 50px;
    background-color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    border-radius: 2px;
    cursor: pointer;
}

#dropbox:hover {
    background-color: #DBF1FA;
    color: #FFFFFF;
    -webkit-transition: background-color 1s, color 1s;
    transition: background-color 1s, color 1s;
}

#gaming:hover {
    background-color: #8BE5B0;
    color: #FFFFFF;
    -webkit-transition: background-color .5s, color .5s;
    transition: background-color .5s, color .5s;
}

#blog:hover {
    background-color: #FAB2B8;
    color: #FFFFFF;
    -webkit-transition: background-color .5s, color .5s;
    transition: background-color .5s, color .5s;
}


/*
****************************************
-------  News Section
****************************************
*/

#monitor, #monitor * {
    box-sizing: border-box;
}
#monitor {
    margin: 0 auto 40px;
    padding: 20px;
    width: 80%;
    max-width: 900px;
    height: auto;
    position: relative;
    background-color: #31404A;
    box-shadow: inset 0 0 10px 2px #0C1317;
    border: 20px solid #474e5d;
    border-radius: 10px;
}

#monitor p {
    margin: 15px 0;
    font-family: 'Source Code Pro', monospace;
    text-shadow: 0 0 2px #FFF;
    color: #EEE;
}

#monitor .title {
    text-align: center;
    font-size: 1.5em;
    margin: 0;
}

#monitor .news {
    position: relative;
    margin-left: 30px;
    line-height: 1.5em;
}

#monitor .news:before {
    content: '⚡';
    position: absolute;
    margin: 0 10px;
    top: 0; left: -30px;
    color: #00FFFF;
    text-shadow: 0 0 2px #00FFFF;
}
#monitor .news a {
    color: #2ECC71;
    text-decoration: none;
    text-shadow: 0 0 2px #2ECC71;
    /*border-bottom: 2px dotted #2ECC71;*/
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
#monitor .news a:hover,
#monitor .news a:focus {
    color: #00FFFF;
    text-shadow: 0 0 2px #00FFFF;
    /*border-bottom: 2px dotted #00FFFF;*/
}

/*
****************************************
-------  about.html styles
****************************************
*/

#about {
    max-width: 720px;
    margin: 50px auto;
    padding: 80px;
    box-shadow: 0 0 .5em #EEE;
    color: #919191;
}

#about section  { margin: 20px 0 50px;}
#about .caption .thin { display: none; visibility: hidden; }
#about .heading { margin: 50px 0 80px;}
#about .caption { font-size: 4em; color: #ADADAD; font-weight: normal;}
#about .tagline { font-size: 1.2em; color: #E0E0E0;}
#about h1 { color: #484848;}
#about p { margin: 10px;}
#about li { list-style-type: none; margin: 5px 40px;}
#about ul.make {text-align: center; margin-top: 70px;}
#about li.maker { text-align: center; display: inline; list-style-type: none; margin: 0 50px;}

@media (max-width: 620px) {
    ul.grid {
        padding: 50px 20px;
    }
    .caption {
        font-size: 6em;
    }

    #monitor {
        width: 95%;
        margin: 0 auto 40px;
    }
    #monitor .news:before {
        left: -40px;
        color: red;
    }

    #about {
        padding: 5%;
        padding-right: 0;
    }
    #about .make li {
        display: none;
    }

    #about .make .maker {
        margin: 0;
        padding: 10px 0;
        display: block;
    }
}

@media (max-width: 460px) {
    ul.grid {
        padding: 50px 0;
    }
    ul.grid li {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 380px) {
    .grid li {
        width: 90%;
    }

    #about .caption {
        font-size: 3em;
    }
}
