@font-face {
	font-family: 'voltaire';
	src: url('../fonts/voltaire.otf') format('opentype');
}

/*
@font-face {
	font-family: 'Neutra Condensed Light';
	src: url('../fonts/neutra_condensed_light.otf') format('opentype');
}
*/
html, body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

body {
	background-color: #DDD;
    background-image: url('../images/header-background.png');
/*	background-image: -webkit-radial-gradient(center center, circle farthest-side, #EEE 0%, #CCC 100%);
	background-image:    -moz-radial-gradient(center center, circle farthest-side, #EEE 0%, #CCC 100%);
	background-image:     -ms-radial-gradient(center center, circle farthest-side, #EEE 0%, #CCC 100%);
	background-image:      -o-radial-gradient(center center, circle farthest-side, #EEE 0%, #CCC 100%);
	background-image:         radial-gradient(center center, circle farthest-side, #EEE 0%, #CCC 100%);*/
}


#container {
	position: relative;
	min-height: 100%;
	padding: 1px;
	text-align: center;
}

#content {
	margin-top: 100px;
}

#lt, #gt, #name {
	display: inline-block;
	vertical-align: bottom;
}

#lt, #gt {
	font: normal 15em/300px 'voltaire', sans-serif;
	color: #333;
	opacity: 0;

	-webkit-transform: scale(4);
	   -moz-transform: scale(4);
	    -ms-transform: scale(4);
	     -o-transform: scale(4);
	        transform: scale(4);
}

#lt span, #gt span {
	display: inline-block;
}

#lt {
	-webkit-animation: fadeInStamp .5s linear 1 normal both;
	   -moz-animation: fadeInStamp .5s linear 1 normal both;
	    -ms-animation: fadeInStamp .5s linear 1 normal both;
	     -o-animation: fadeInStamp .5s linear 1 normal both;
	        animation: fadeInStamp .5s linear 1 normal both;
}

#lt span {
	-webkit-animation: leftArrowBounce .85s linear 1.15s 1 normal both;
	   -moz-animation: leftArrowBounce .85s linear 1.15s 1 normal both;
	    -ms-animation: leftArrowBounce .85s linear 1.15s 1 normal both;
	     -o-animation: leftArrowBounce .85s linear 1.15s 1 normal both;
	        animation: leftArrowBounce .85s linear 1.15s 1 normal both;
}

#gt {
	-webkit-animation: fadeInStamp .5s linear .5s 1 normal both;
	   -moz-animation: fadeInStamp .5s linear .5s 1 normal both;
	    -ms-animation: fadeInStamp .5s linear .5s 1 normal both;
	     -o-animation: fadeInStamp .5s linear .5s 1 normal both;
	        animation: fadeInStamp .5s linear .5s 1 normal both;
}

#gt span {
	-webkit-animation: rightArrowBounce .85s linear 1.15s 1 normal both;
	   -moz-animation: rightArrowBounce .85s linear 1.15s 1 normal both;
	    -ms-animation: rightArrowBounce .85s linear 1.15s 1 normal both;
	     -o-animation: rightArrowBounce .85s linear 1.15s 1 normal both;
	        animation: rightArrowBounce .85s linear 1.15s 1 normal both;
}

#name {
	width: 0;
	overflow: hidden;
	font: normal 5em/270px 'voltaire', sans-serif;
	color: #333;
	-webkit-animation: fullWidth .15s linear 1s 1 normal both;
	   -moz-animation: fullWidth .15s linear 1s 1 normal both;
	    -ms-animation: fullWidth .15s linear 1s 1 normal both;
	     -o-animation: fullWidth .15s linear 1s 1 normal both;
	        animation: fullWidth .15s linear 1s 1 normal both;
}

#name span {
	width: 331px;
	margin-left: -165px;
	-webkit-animation: noMargin .15s linear 1s 1 normal both;
	   -moz-animation: noMargin .15s linear 1s 1 normal both;
	    -ms-animation: noMargin .15s linear 1s 1 normal both;
	     -o-animation: noMargin .15s linear 1s 1 normal both;
	        animation: noMargin .15s linear 1s 1 normal both;
}

footer {
	position: absolute;
	bottom: 0;
	height: auto; width: 100%;
    color: #2E2E2E;
	text-align: center;

	-webkit-animation: fadeIn .5s ease-in-out 2s 1 normal both;
	   -moz-animation: fadeIn .5s ease-in-out 2s 1 normal both;
	    -ms-animation: fadeIn .5s ease-in-out 2s 1 normal both;
	     -o-animation: fadeIn .5s ease-in-out 2s 1 normal both;
	        animation: fadeIn .5s ease-in-out 2s 1 normal both;
}

footer a {
	font: normal 2em/2em 'voltaire', sans-serif;
	-webkit-transition: color .5s ease-in-out;
	   -moz-transition: color .5s ease-in-out;
	    -ms-transition: color .5s ease-in-out;
	     -o-transition: color .5s ease-in-out;
	        transition: color .5s ease-in-out;
}

footer a:link { color: #2E2E2E; text-decoration: none; }
footer a:visited { color: #2E2E2E; }
footer a:hover { color: #BBB; text-decoration: none; }

/*
****************************************
-------  fullWidth keyframes
****************************************
*/

@-webkit-keyframes fullWidth {
	0% { width: 0; }
	100% { width: 330px; }
}
@-moz-keyframes fullWidth {
	0% { width: 0; }
	100% { width: 330px; }
}
@-ms-keyframes fullWidth {
	0% { width: 0; }
	100% { width: 330px; }
}
@-o-keyframes fullWidth {
	0% { width: 0; }
	100% { width: 330px; }
}
@keyframes fullWidth {
	0% { width: 0; }
	100% { width: 330px; }
}

/*
****************************************
-------  noMargin keyframes
****************************************
*/

@-webkit-keyframes noMargin {
	0% {  }
	100% { margin: 0; }
}
@-moz-keyframes noMargin {
	0% {  }
	100% { margin: 0; }
}
@-ms-keyframes noMargin {
	0% {  }
	100% { margin: 0; }
}
@-o-keyframes noMargin {
	0% {  }
	100% { margin: 0; }
}
@keyframes noMargin {
	0% {  }
	100% { margin: 0; }
}

/*
****************************************
-------  fadeIn keyframes
****************************************
*/

@-webkit-keyframes fadeIn {
	0% { opacity: 0 }
	100% { opacity: 1 }
}
@-moz-keyframes fadeIn {
	0% { opacity: 0 }
	100% { opacity: 1 }
}
@-ms-keyframes fadeIn {
	0% { opacity: 0 }
	100% { opacity: 1 }
}
@-o-keyframes fadeIn {
	0% { opacity: 0 }
	100% { opacity: 1 }
}
@keyframes fadeIn {
	0% { opacity: 0 }
	100% { opacity: 1 }
}

/*
****************************************
-------  fadeInStamp keyframes
****************************************
*/

@-webkit-keyframes fadeInStamp {
	0% { opacity: 0; }
	30% { opacity: 1; }
	60% { -webkit-transform: scale(.7); }
	80% { -webkit-transform: scale(1.3); }
	100% { opacity: 1; -webkit-transform: scale(1); }
}
@-moz-keyframes fadeInStamp {
	0% { opacity: 0; }
	30% { opacity: 1; }
	60% { -moz-transform: scale(.7); }
	80% { -moz-transform: scale(1.3); }
	100% { opacity: 1; -moz-transform: scale(1); }
}
@-ms-keyframes fadeInStamp {
	0% { opacity: 0; }
	30% { opacity: 1; }
	60% { -ms-transform: scale(.7); }
	80% { -ms-transform: scale(1.3); }
	100% { opacity: 1; -ms-transform: scale(1); }
}
@-o-keyframes fadeInStamp {
	0% { opacity: 0; }
	30% { opacity: 1; }
	60% { -o-transform: scale(.7); }
	80% { -o-transform: scale(1.3); }
	100% { opacity: 1; -o-transform: scale(1); }
}
@keyframes fadeInStamp {
	0% { opacity: 0; }
	30% { opacity: 1; }
	60% { transform: scale(.7); }
	80% { transform: scale(1.3); }
	100% { opacity: 1; transform: scale(1); }
}


/*
****************************************
-------  leftArrowBounce
****************************************
*/

@-webkit-keyframes leftArrowBounce {
	0% {  }
	10% { -webkit-transform: translateX(-10px); }
	40% { -webkit-transform: translateX(10px); }
	70% { -webkit-transform: translateX(-5px); }
	100% { -webkit-transform: translateX(0); }
}
@-moz-keyframes leftArrowBounce {
	0% {  }
	10% { -moz-transform: translateX(-10px); }
	40% { -moz-transform: translateX(10px); }
	70% { -moz-transform: translateX(-5px); }
	100% { -moz-transform: translateX(0); }
}
@-ms-keyframes leftArrowBounce {
	0% {  }
	10% { -ms-transform: translateX(-10px); }
	40% { -ms-transform: translateX(10px); }
	70% { -ms-transform: translateX(-5px); }
	100% { -ms-transform: translateX(0); }
}
@-o-keyframes leftArrowBounce {
	0% {  }
	10% { -o-transform: translateX(-10px); }
	40% { -o-transform: translateX(10px); }
	70% { -o-transform: translateX(-5px); }
	100% { -o-transform: translateX(0); }
}
@keyframes leftArrowBounce {
	0% {  }
	10% { transform: translateX(-10px); }
	40% { transform: translateX(10px); }
	70% { transform: translateX(-5px); }
	100% { transform: translateX(0); }
}

/*
****************************************
-------  rightArrowBounce keyframes
****************************************
*/

@-webkit-keyframes rightArrowBounce {
	0% {  }
	10% { -webkit-transform: translateX(10px); }
	40% { -webkit-transform: translateX(-10px); }
	70% { -webkit-transform: translateX(5px); }
	100% { -webkit-transform: translateX(0); }
}
@-moz-keyframes rightArrowBounce {
	0% {  }
	10% { -moz-transform: translateX(10px); }
	40% { -moz-transform: translateX(-10px); }
	70% { -moz-transform: translateX(5px); }
	100% { -moz-transform: translateX(0); }
}
@-ms-keyframes rightArrowBounce {
	0% {  }
	10% { -ms-transform: translateX(10px); }
	40% { -ms-transform: translateX(-10px); }
	70% { -ms-transform: translateX(5px); }
	100% { -ms-transform: translateX(0); }
}
@-o-keyframes rightArrowBounce {
	0% {  }
	10% { -o-transform: translateX(10px); }
	40% { -o-transform: translateX(-10px); }
	70% { -o-transform: translateX(5px); }
	100% { -o-transform: translateX(0); }
}
@keyframes rightArrowBounce {
	0% {  }
	10% { transform: translateX(10px); }
	40% { transform: translateX(-10px); }
	70% { transform: translateX(5px); }
	100% { transform: translateX(0); }
}
